main {
  margin: 0 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #38414a26;
  border-radius: 4px;
  padding: 16px 22px 24px;
}
main .offer-header {
  padding-bottom: 14px;
  border-bottom: 1px dashed #e9ebec;
}
main .offer-header h2 {
  color: #495057;
  font-size: 16px;
  margin-bottom: 0;
}
main .offer-header button {
  width: 103px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-radius: 4px;
  color: #00a159;
  border: none;
  background-color: rgba(0, 161, 89, 0.09);
}
main .offer-details {
  margin-top: 26px;
}
main .offer-details .offer-card {
  height: 66px;
  border-radius: 4px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #38414a26;
}
main .offer-details .offer-card {
  font-size: 14px;
}
main .offer-details .offer-card p {
  margin-bottom: 0;
  font-size: 16px;
  color: #495057;
}
main .offer-details .offer-card img.profile {
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
}
main .offer-details .offer-card .profile-desc {
  font-size: 14px;
  color: #212529;
}
main .offer-details .col-2:nth-child(1) .offer-card {
  padding: 9px 12px;
}
main .offer-details .col-2:nth-child(2) .offer-card {
  padding: 15px 37px;
  background-color: #5b686e;
}
main .offer-details .col-2:nth-child(3) .offer-card,
main .offer-details .col-2:nth-child(4) .offer-card,
main .offer-details .col-2:nth-child(5) .offer-card {
  padding: 15px 19px;
}
main .offer-details .col-2:nth-child(6) .offer-card,
main .offer-details .col-2:nth-child(7) .offer-card {
  padding: 15px 26px;
}
main .offer-details .col-2:first-child {
  min-width: 237px;
  max-width: 237px;
}
main .offer-details .col-2:first-child p {
  margin-right: 16px;
}
main .offer-details .col-2:nth-child(2) {
  min-width: 270px;
  max-width: 270px;
}

main .offer-details .col-2:nth-child(2) p {
  color: #ffffff;
}
main .offer-details .col-2:nth-child(3) {
  min-width: 213px;
  max-width: 213px;
}
main .offer-details .col-2:nth-child(3) p {
  color: #495057;
  margin-right: 19px;
}
main .offer-details .col-2:nth-child(4) {
  min-width: 208px;
  max-width: 208px;
}
main .offer-details .col-2:nth-child(4) p {
  color: #495057;
  margin-right: 20px;
}

main .offer-details .col-2:nth-child(5) p {
  color: #495057;
  margin-right: 23px;
}
main .offer-details .col-2:nth-child(5) {
  min-width: 314px;
  max-width: 314px;
}

main .offer-details .col-2:nth-child(6) {
  min-width: 234px;
  max-width: 234px;
}
main .offer-details .col-2:nth-child(6) p {
  color: #495057;
  margin-right: 20px;
}
main .offer-details .col-2:nth-child(7) {
  min-width: 234px;
  max-width: 234px;
}
main .offer-details .col-2:nth-child(7) p {
  color: #495057;
  margin-right: 20px;
}
main .offer-description p {
  margin: 27px 0 45px 0;
  margin-bottom: 0;
  color: #495057;
  font-size: 14px;
  line-height: 32px;
}
.back-btn {
  margin-top: 45px;
  color: #ffffff;
  width: 135px;
  height: 38px;
  background-color: #00a159;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-decoration: none;
}
