main {
  margin: 0 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #38414a26;
  border-radius: 4px;
  padding: 16px 0 24px;
}
main .delete-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(43, 43, 43, 0.29);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
main .delete-container.show {
  opacity: 1;
  visibility: visible;
}
main .delete-container .delete-modal img {
  width: 102px;
  margin: 0 auto 10px;
  height: 102px;
}
main .delete-container .delete-modal h2 {
  margin-bottom: 0px;
  color: #000000de;
  font-size: 24px;
  max-width: 170px;
  margin: 0 auto 10px;
  line-height: 33px;
}
main .delete-container .delete-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 373px;
  height: 356px;
  border-radius: 4px;
  background-color: #ffffff;
}
main .delete-container .delete-modal button {
  font-size: 13px;
  width: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border-radius: 4px;
}
main .delete-container .delete-modal button.verify-delete {
  background-color: #00a159;
  color: white;
  border: none;
}

main .delete-container .delete-modal button.cancel-delete {
  border: none;
  background-color: #f3f6f9;
  color: #000000;
}
/* offers header */

.offers-header-container {
  padding: 16px 0 24px;
}
.offers-header-container .offers-header h2 {
  color: #495057;
  font-size: 16px;
  line-height: 37px;
}
.offers-header-container .offers-header {
  padding: 0 22px 17px;
  border-bottom: 1px dashed #e9ebec;
}
.offers-header-container .offers-header button.add-offer,
.offers-header-container .offers-header button.show-offers {
  min-width: 106px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
}
.offers-header-container .offers-header button.add-offer img {
  margin-left: 11px;
}
.offers-header-container .offers-header button.add-offer {
  color: white;
  background-color: #00a159;
  border: transparent;
  transition: background-color 0.3s ease;
}
.offers-header-container .offers-header button.show-offers {
  color: #00a159;
  margin-left: 14px;
  background-color: transparent;
  border: 1px solid #00a159;
}
.offers-header-container .offers-header button.add-offer:hover {
  background-color: #00703c;
}

/* offers settings */

.offers-header-container .offers-settings {
  padding: 16px 22px 0;
}
.offers-header-container .offers-settings .search-offer {
  margin-left: 12px;
}

.offers-header-container .offers-settings .pdf-filter,
.offers-header-container .offers-settings .xls-filter,
.offers-header-container .offers-settings .filter {
  min-width: 37px;
  height: 37px;
  border-radius: 6px;
  text-align: center;
  border: 0;
  transition: background-color 0.3s ease;
}
.offers-header-container .offers-settings .pdf-filter {
  background-color: #a10000;
}
.offers-header-container .offers-settings .pdf-filter:hover {
  background-color: #b80000;
}

.offers-header-container .offers-settings .xls-filter {
  background-color: #00a159;
  margin: 0 5px;
}
.offers-header-container .offers-settings .xls-filter:hover {
  background-color: #00b369;
}

.offers-header-container .offers-settings .filter {
  background-color: #29504d;
}
.offers-header-container .offers-settings .filter:hover {
  background-color: #39605d;
}
.offers-header-container .offers-settings .xls-filter img,
.offers-header-container .offers-settings .pdf-filter img {
  transform: rotate(180deg);
}
.offers-header-container .offers-settings .search-offer img {
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.offers-header-container .offers-settings input[type="search"] {
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 37px;
  padding-right: 42px;
  color: #212529;
  font-size: 13px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.offers-header-container .offers-settings input[type="search"]::placeholder {
  color: #9599ad;
}
.offers-header-container .offers-settings input[type="search"]:focus {
  outline: 0;
  border-color: #8b98a5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* offers table */
table {
  margin-bottom: 20px;
}
.offers-header-container .offers-table {
  margin-top: 16px;
}
.offers-header-container .offers-table tr td,
.offers-header-container .offers-table tr th {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 13px;
  color: #212529;
  text-align: right;
}
.offers-header-container .offers-table tr td:first-child,
.offers-header-container .offers-table tr th:first-child {
  padding-right: 24px;
}
.offers-header-container .offers-table tr td:first-child {
  color: #00a159;
}
.offers-header-container .offers-table thead {
  border-top: 1px solid #e9ebec;
  border-bottom: 1px solid #e9ebec;
}
.offers-header-container .offers-table thead th {
  background-color: #f6f6f6;
}
.offers-header-container .offers-table .status-buttons button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

.offers-header-container .offers-table .pagination-holder a {
  font-size: 13px;
  height: 34px;
  color: #29504d;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
}
.offers-header-container .offers-table .pagination-holder a.active {
  background-color: #00a159;
  color: white;
  min-width: 33px;
}

.offers-header-container .offers-table .pagination-holder button {
  color: #00a159;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 13px;
}

.offers-header-container
  .offers-table
  .pagination-holder
  button.pagination-next {
  padding-left: 36px;
  margin-top: 4px;
}

.offers-header-container
  .offers-table
  .pagination-holder
  button.pagination-prev {
  color: #9599ad;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #e9ebec;
  margin: 0;
  width: 14px;
  height: 15px;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 9px;
  border-radius: 2px;
  height: 9px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #5ccc5b;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  transform: scale(1);
}
