/* font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* FS Albert Font */
@font-face {
  font-family: "FS Albert Regular";
  src: url("/fonts/FSAlbertArabic-Regular.woff2");
}
@font-face {
  font-family: "FS Albert Bold";
  src: url("/fonts/FSAlbertArabic-Bold.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 25px;
}
.fs-arabic-regular {
  font-family: "FS Albert Regular";
}

.fs-arabic-bold {
  font-family: "FS Albert Bold";
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

body {
  background-color: #f2f2f7 !important;
}
main {
  margin: 0 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #38414a26;
  border-radius: 4px;
  padding: 16px 0 24px;
}
.section-header {
  padding: 0 17px 14px 0;
  font-size: 16px;
  line-height: 37px;
  border-bottom: 1px dashed #e9ebec;
  color: #495057;
  margin-bottom: 0;
}

/* Delete Modal */

.delete-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(43, 43, 43, 0.29);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hide {
  display: none;
}

.delete-container.show {
  opacity: 1;
  visibility: visible;
}
.delete-container .delete-modal img {
  width: 102px;
  margin: 0 auto 10px;
  height: 102px;
}
.delete-container .delete-modal h2 {
  margin-bottom: 0px;
  color: #000000de;
  font-size: 24px;
  max-width: 170px;
  margin: 0 auto 10px;
  line-height: 33px;
}
.delete-container .delete-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 373px;
  height: 356px;
  border-radius: 4px;
  background-color: #ffffff;
}
.delete-container .delete-modal button {
  font-size: 13px;
  width: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border-radius: 4px;
}
.delete-container .delete-modal button.verify-delete {
  background-color: #00a159;
  color: white;
  border: none;
}

.delete-container .delete-modal button.cancel-delete {
  border: none;
  background-color: #f3f6f9;
  color: #000000;
}

/* End Delete Modal */

/* table */

table {
  margin-bottom: 0;
}

table {
  margin-bottom: 20px;
}

.table-container tr td,
.table-container tr th {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 13px;
  color: #212529;
  text-align: right;
}
.table-container tr td:first-child,
.table-container tr th:first-child {
  padding-right: 24px;
}
.table-container tr td:first-child {
  color: #00a159;
}
.table-container thead {
  border-top: 1px solid #e9ebec;
  border-bottom: 1px solid #e9ebec;
}
.table-container thead th {
  background-color: #f6f6f6;
}
.table-container .status-buttons button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

.table-container .pagination-holder a {
  font-size: 13px;
  height: 34px;
  color: #29504d;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
}
.table-container .pagination-holder a.active {
  background-color: #00a159;
  color: white;
  min-width: 33px;
}

.table-container .pagination-holder button {
  color: #00a159;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 13px;
}

.table-container .pagination-holder button.pagination-next {
  padding-left: 36px;
  margin-top: 4px;
}

.table-container .pagination-holder button.pagination-prev {
  color: #9599ad;
}
/* end table */

/* form styles */

.form-container {
  padding: 33px 17px 0;
}
.form-container .form-label {
  font-size: 13px;
  color: #212529;
  line-height: 30px;
}

.form-container .offer-reminder span {
  color: #878a99;
  font-size: 13px;
}
.form-container select,
.form-container input[type="number"],
.form-container input[type="text"] {
  color: #878a99;
  font-size: 13px;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 38px;
  padding-right: 8px;
}

.form-container textarea {
  height: 59px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
  font-size: 13px;
  color: #878a99;
  width: 100%;
  resize: none;
}
.form-container input[type="number"] {
  direction: rtl;
}
.form-container .form-check {
  padding-right: 0;
}
.form-container .offer-reminder {
  height: 38px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: space-between;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.form-container .offer-reminder button {
  width: 22px;
  height: 22px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #00a159;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #ced4da;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="radio"] {
  border-radius: 50%;
  margin-top: 1px;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  border-radius: 2px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #00a159;
}
input[type="radio"]::before {
  border-radius: 6px;
  width: 9px;
  height: 9px;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #e9ebec;
  margin: 0;
  width: 14px;
  height: 15px;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 14px;
  border-radius: 4px;
  height: 15px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #00a159;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.form-control:focus,
.form-select:focus,
textarea:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}
.form-container textarea:focus-visible {
  outline: none;
}
.form-container .custom-file-upload {
  color: #878a99;
  font-size: 13px;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 2px;
}
.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file-button {
  background: #eff2f7;
  width: 41px;
  height: 38px;
  border: none;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #ced4da;
}
.file-button img {
  vertical-align: unset;
}
.form-check-input:checked {
  background-color: none !important;
  border-color: none !important;
}
/* end form */

.type-btn,
button.cancel-btn,
button.save-btn,
button.check-btn,
button.add-btn {
  height: 38px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 13px;
}
.type-btn {
  width: 174px;
  color: #ffffff;
  background-color: #29504d;
}

button.cancel-btn {
  width: 61px;
  background-color: #f3f6f9;
  color: black;
}
button.save-btn {
  width: 103px;
  color: #ffffff;
  background-color: #00a159;
}
